.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
out/**/*.ts
src/**
gif/**
hooks/**
test/**
docs/**
.gitignore
tsconfig.json
cache/**
node_modules/**
webpack.config.js
genAiKey.js
gts.cmd
vendor/**
copyVendor.js